.left-card {
	clear: right;
	width: 55%;
	margin-left: 3%;
}
.right-card {
	width: 55%;
	margin-right: 3%;
	float: right;
}

@media screen and (max-width: 1280px) {
	.left-card {
		clear: both;
		width: 100%;
		margin: 0% 0%;
	}

	.right-card {
		clear: both;
		width: 100%;
		margin: 0% 0%;
	}
}