.tabs .indicator {
	background-color: #bcaaa4;
}

.collapsible-header {
	height: 80px !important;
}

.collapsible > li {
	padding-bottom: 0px;
}

.collapsible-body {
	padding: 20px;
}

.collapsible {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-left: 0px;
	border-right: 0px;
    border-top: 1px solid #ddd;
}

.row > div > h6 {
	margin-top: 5px !important;
}

.row > div > h5 {
	margin-top: 20px;
}

.collapsible-header:hover {
	color: #df4a43;
}

@media only screen and (max-width : 720px) {
	.project-type {
		text-align: center;
	}
}