.breadcrumb:before {
	color: #795548;
}

.nav-location {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.nav-wrapper {
	padding-left: 10px;
}

.collapsible {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-left: 0px;
	border-right: 0px;
    border-top: 1px solid #ddd;
    width: 50%;
    margin: 0px auto;
}

.collapsible-body {
	padding: 25px;
	font-weight: 500;
}

.collapsible-header:hover {
	color: #df4a43;
}

.collapsible li {
	padding-bottom: 0px;
}

.project-name {
	margin-bottom: 5px;
	margin-top: 0px;
}

.underline {
	border-bottom: 5px double #795548;
}

.google-maps {
	width: 600px;
	height: 450px;
}

.para {
	line-height: 1.2;
}

@media only screen and (max-width: 992px) {

	.google-maps {
		width: 350px;
		height: 275px;
	}

	.container {
		text-align: center;
	}

	.collapsible {
		width: 100%;
		margin: 0px 0px;
	}

	.nav-location > div > div {
		max-height: 75px !important;
	}

	.nav-location {
		text-align: center;
		height: 75px;
		text-overflow: ellipsis;
	}

	#nav-location-project {
		max-height: 75px !important;
		text-overflow: ellipsis;
	}

	.nav-wrapper {
		padding-left: 0px;
	}

	.breadcrumb:before {
		margin: 1px;
		max-height: 75px;
		font-size: 17px;
	}

	.nav-location > div > div > a {
		font-size: 16px;
	}

	.para {
		text-align: justify;
	}

}
@media only screen and (min-width: 992px) {

	.nav-location {
		display: block;
	}
}