.team_image {
    width: 100%; 
    height:100px;
    vertical-align: left;
	z-index: 0;
}

.team-member {
	display: block;
	padding: 5px !important;
	width: 20vw;
}

.team-member .card-content {
	padding: 10px;
}

.team-member-bg {
	width: 100%;
	height: 100px;
	margin-bottom: -60px;
}

.team-member img {
	display: inline-block;
	width: 120px;
	height: 120px;
}

.team-member #social-media {
	width: 50px !important;
	height: 50px !important;
	margin: 10px !important;
}

.team-member-info {
	display: none;
	transition: opacity .4s ease-in-out;
}

.expandable-card #social-media {
	width: 50px !important;
	height: 50px !important;
	margin: 10px !important;	
}

#core-gallery-row {
	display: flex;
	width: 80%;
}

#tech-gallery-row {
	margin-left: 0%;
	display: flex;
	width: 80%;
	overflow-x: scroll;
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}

#tech-gallery-row::-webkit-scrollbar, #core-gallery-row::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}


.gallery {
	display: inline-block;
}

.expandable-card img {
	display: inline-block;
	width: 120px;
	height: 120px;	
}

.expandable-card, .expandable-card-contents {
	transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
}

.next-core, .prev-core {
	display: none;
}

@media only screen and (max-width : 720px) {
	#core-gallery-row {
		overflow-x: scroll;
	}

	.team-member {
		width: 65vw;
	}
	
	.next-core, .prev-core {
		display: inline-block;
	}

	.button-container {
		display: inline-block;
	}
}